.form__error {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.2;
  color: #de2e2e;
}

.form__input--invalid {
  border-color: #de2e2e;
}

.form__input--invalid:focus {
  border-color: #de2e2e;
  outline: none;
  box-shadow: 0 0 0 1px #de2e2e;
}
